<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Toolbar options -->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="preguntaActual < preguntasFallo.length">
    <ion-card-content>
      <p>{{ preguntasFallo[preguntaActual].informacion }}</p> 
      <p>{{ preguntasFallo[preguntaActual].preguntaFallo }}</p>
    </ion-card-content>
      <ion-button (click)="mostrarPreguntaFallo('Sí')">Sí</ion-button>
      <ion-button (click)="mostrarPreguntaFallo('No')">No</ion-button>
   
  </ion-card>

  <ion-card *ngIf="preguntaActual >= preguntasFallo.length">
    <ion-card-content>
      <p>Fin del chat.</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="preguntaActualAyuda < preguntasAyuda.length">
    <ion-card-content>
      <p>{{ preguntasAyuda[preguntaActualAyuda].preguntaAyuda }}</p>
    </ion-card-content>
      <ion-button (click)="mostrarPreguntaAyuda('Sí')">Sí</ion-button>
      <ion-button (click)="mostrarPreguntaAyuda('No')">No</ion-button>
   
  </ion-card>

  <ion-card *ngIf="preguntaActualAyuda>= preguntasAyuda.length">
    <ion-card-content>
      <p>Fin del chat.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
