<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <full-calendar [options]="calendarOptions" class="calendar"></full-calendar>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>09 de septiembre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>💧 1.2 litros de agua tomados</ion-text><br>
      <ion-text>53 kg   1.64cm</ion-text><br>
      <ion-text>🤢🤧🥱</ion-text><br>
      <ion-text>💊 Tomaste una pastilla de emergencia</ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Título</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, repudiandae. Facilis esse, suscipit voluptatibus eveniet hic labore, expedita laborum aliquam quis sed sunt animi minima tempora nostrum quas dolorum nesciunt?</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="fab">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button id="open-modal" expand="block">Open</ion-button>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Your name" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
