<ion-header [translucent]="true">
  <!-- Toolbar options -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div style="margin: 10px;">
    <!-- Edit login data -->
    <ion-accordion-group>
      <ion-accordion value="editLoginData" class="accordion">
        <ion-item slot="header" style="text-align: center;">
          <ion-label>Editar datos de inicio de sesión</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <form [formGroup]="data">
            <ion-card class="card">
              <ion-input placeholder="Nombre completo" type="text" formControlName="fullName" errorText="Nombre inválido" text></ion-input>
              <ion-input placeholder="Correo electrónico" type="email" formControlName="email" errorText="Email inválido" email></ion-input>
              <ion-input placeholder="PIN" type="password" formControlName="pin" errorText="PIN inválido" helperText="Debe contener 4 números"></ion-input>
              <ion-checkbox labelPlacement="end" class="check-clear" formControlName="noPin" style="margin: 10px 0px;">Continuar sin PIN</ion-checkbox><br>
              <ion-list>
                <ion-item class="select">
                  <ion-select formControlName="sex" aria-label="sex" interface="popover" placeholder="Seleccionar sexo">
                    <ion-select-option class="check" value="female">Mujer</ion-select-option>
                    <ion-select-option value="male">Hombre</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>

              <!-- Form in case the user is a doctor -->
              <ion-accordion-group style="margin-top: 20px;">
                <ion-accordion value="doctor" class="accordion">
                  <ion-item slot="header">
                    <ion-label class="big-text">Soy un médico</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <ion-checkbox labelPlacement="end" class="check-clear" formControlName="isDoctor">Soy un médico</ion-checkbox><br>
                    <ion-input placeholder="Cédula profesional" type="text" formControlName="license" errorText="Texto inválido"></ion-input>
                    <ion-input placeholder="Profesion" type="text" formControlName="profession" errorText="Texto inválido"></ion-input>
                    <ion-input placeholder="Descripción" type="text" formControlName="description" errorText="Texto inválido"></ion-input>
                    <ion-input placeholder="Costo por consulta" type="number" formControlName="cost" errorText="Costo inválido"></ion-input>
                    <ion-input placeholder="Ubicación del consultorio" type="text" formControlName="officeAddress" errorText="Texto inválido"></ion-input>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-card>
          </form>

          <ion-button expand="full" class="button-white" shape="round" (click)="updateLoginData()" [disabled]="!isValidForm()" style="border: 1px solid #000;">Guardar</ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <!-- Option to change pet -->
    <ion-button id="open-modal-pet" expand="block">Cambiar mascota</ion-button>
    <ion-modal trigger="open-modal-pet" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="confirm()" [strong]="true">Guardar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div class="grid">
            <ion-thumbnail class="thumbnail-big" *ngFor="let image of images" (click)="selectImage(image)" [class.selected]="image === selectedImage">
              <img [src]="image" />
            </ion-thumbnail>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Logout button -->
    <ion-button expand="full" class="button-white" shape="round" (click)="logout()" style="border: 1px solid #000;">Cerrar sesión</ion-button>
  </div>

  <!-- Floating action button to navigate to the chat -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="fab" [routerLink]="['/chat']">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<div class="spinner-container" *ngIf="isLoading">
  <ion-spinner name="bubbles" color="primary" style="height: 80px; width: 80px;"></ion-spinner>
</div>
