<ion-header [translucent]="true">
  <!-- Toolbar options -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div style="margin: 10px;">
    <!-- Option to change pet -->
    <ion-button id="open-modal-pet" expand="block">Cambiar mascota</ion-button>
    <ion-modal trigger="open-modal-pet" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancelar</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Guardar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div class="grid">
            <ion-thumbnail class="thumbnail-big" *ngFor="let image of images" (click)="selectImage(image)" [class.selected]="image === selectedImage">
              <img [src]="image" />
            </ion-thumbnail>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Logout button -->
    <ion-button expand="full" class="button-white" shape="round" (click)="logout()" style="border: 1px solid #000;">Cerrar sesión</ion-button>
  </div>
</ion-content>
