<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-title class="title-dark">Notas</ion-card-title>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Título</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae voluptates saepe quam sunt eius quaerat velit id! Ad corporis minima nostrum illum, enim nesciunt similique neque officiis, ex, unde placeat.
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" horizontal="end" style="bottom: 70px;">
    <ion-fab-button class="fab" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="fab" [routerLink]="['/chat']">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
