.big-text {
  font-size: 22px;
}

.check-small {
  --size: 50px;
  font-size: 30px;
}

.check-big {
  --size: 200px;
  --checkmark-color: #fff;
  margin: 10px 0;
}

.emoji-list {
  display: flex;
  flex-wrap: wrap;

  &-item {
    --inner-padding-end: 0;
    --padding-start: 0;
    margin: 5px;
  }
}

.emoji-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  margin: 2px;

  & > ion-checkbox {
    position: absolute;
    --checkbox-background: transparent;
    --border-color: transparent;
    --checkbox-background-checked: transparent;
    --border-color-checked: #fff;
    --checkmark-color: transparent;
  }
}

span.emoji {
  font-size: 35px;
  z-index: 1;
}

.image-container {
  justify-content: space-around;
  margin: 10px;
  gap: 10px;
  position: absolute;
}

.radio-big {
  --border-radius: 20px;
  --inner-border-radius: 20px;

  &::part(container) {
    height: 200px;
    width: 200px;
  }

  &::part(mark) {
    height: 200px;
    width: 200px;
    background-color: #fff;
    clip-path: polygon(21% 82%, 0 49%, 0 68%, 20% 100%, 100% 13%, 92% 1%);
  }
}
