.button-circle {
  --background: #000;
  --border-radius: 50px;
  margin: 5px;
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.container {
  text-align: center;
  margin-top: 5%;
  min-width: 240px;
}

.input {
  text-align: center;
  letter-spacing: 10px;
  font-size: 30px;
  border-bottom: 1px solid #000;
  width: 50%;
}

