<ion-content [fullscreen]="true">
  <!-- Decorative images -->
  <ion-img src="assets/corner-lines.png" class="corner-top"></ion-img>
  <ion-img src="assets/corner-lines.png" class="corner-bottom"></ion-img>
  <div class="center-horizontal main-container">
    <ion-img src="assets/logo.png" alt="Logo Mi Calendario" class="logo"></ion-img>
    <ion-text class="text">
      <h6>Para iniciar, introduce un email válido y un PIN</h6>
    </ion-text>

    <!-- Form to save the user data -->
    <form [formGroup]="userData">
      <ion-item class="input">
        <ion-input placeholder="example@example.com" type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="input">
        <ion-input placeholder="PIN" type="password" maxlength="4" formControlName="pin"></ion-input>
      </ion-item>
      <ion-checkbox labelPlacement="end" class="check">Continuar sin PIN</ion-checkbox>
    </form>

    <!-- Buttons to start -->
    <div class="center-space-bw">
      <ion-button expand="full" class="button" shape="round" (click)="login()" style="margin-top: 15px;">Iniciar</ion-button>
      <div>
        <ion-button expand="full" class="button-white" shape="round" (click)="openModalRegister()" style="border: 1px solid #000;">Registrarme</ion-button>
        <ion-router-link routerLink="/login" class="center link" style="margin-bottom: 10px;">Ya tengo una cuenta</ion-router-link>
        <ion-router-link routerLink="/register" class="center link" style="margin-top: 0px;" id="present-alert">Continuar sin iniciar</ion-router-link>
      </div>
    </div>
  </div>

  <!-- Alert in case the user doesn't want to login/register -->
  <ion-alert
    trigger="present-alert"
    header="Si continuas sin iniciar, no podrás realizar copias de seguridad ni recuperar tus datos si desinstalas la aplicación"
    [buttons]="alertButtons"
    class="alert"></ion-alert>
</ion-content>
