<ion-content [fullscreen]="true">
  <!-- Decorative images -->
  <ion-img src="assets/corner-lines.png" class="corner-top"></ion-img>
  <ion-img src="assets/corner-lines.png" class="corner-bottom"></ion-img>
  <div class="center-horizontal main-container">
    <ion-img src="assets/logo.png" alt="Logo Mi Calendario" class="logo"></ion-img>
    <ion-text class="text">
      <h6>Para iniciar, introduce un email válido y un PIN</h6>
    </ion-text>

    <!-- Form to save the user data -->
    <form [formGroup]="userData">
      <ion-input placeholder="example@example.com" type="email" formControlName="email" errorText="Email inválido" email style="color: #000;"></ion-input>
      <ion-input placeholder="PIN" type="number" maxlength="4" formControlName="pin" errorText="PIN inválido" pattern="[0-9]*"style="color: #000;"></ion-input>
      <ion-checkbox labelPlacement="end" class="check" formControlName="noPin">Continuar sin PIN</ion-checkbox>
    </form>

    <!-- Buttons to start -->
    <div class="center-space-bw">
      <ion-button expand="full" class="button" shape="round" (click)="login()" style="margin-top: 15px;" [disabled]="!isValidForm()">Iniciar</ion-button>
      <div>
        <ion-button expand="full" class="button-white" shape="round" (click)="openModalRegister()" style="border: 1px solid #000;">Registrarme</ion-button>
      </div>
    </div>
  </div>
</ion-content>
