<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Toolbar options -->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Card to show the advice of the day -->
  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;">{{messageToPrint}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- Card to show next period -->
  <ion-card class="card" *ngIf="sex === 'female'">
    <ion-card-header *ngIf="periodExists">
      <ion-card-subtitle>Faltan</ion-card-subtitle>
      <ion-card-title class="title">{{daysUntilNextPeriod}} días</ion-card-title>
      <ion-card-subtitle>Para tu próximo periodo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header *ngIf="!periodExists">
      <ion-card-subtitle>Registra</ion-card-subtitle>
      <ion-card-title class="title">Tu periodo</ion-card-title>
      <ion-card-subtitle>Para calcular tu ciclo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button class="button-white" shape="round" [routerLink]="['/calendar']">Editar periodo</ion-button>
      <ion-img [src]="pet" class="pet"></ion-img>
    </ion-card-content>
  </ion-card>

  <!-- Card to go to calendar -->
  <ion-card class="card" *ngIf="sex !== 'female'">
    <ion-card-header>
      <ion-card-subtitle>Edita tus</ion-card-subtitle>
      <ion-card-title class="title">Síntomas</ion-card-title>
      <ion-card-subtitle>Para monitorearlos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button class="button-white" shape="round" [routerLink]="['/calendar']">Ver calendario</ion-button>
      <ion-img [src]="pet" class="pet"></ion-img>
    </ion-card-content>
  </ion-card>

  <!-- Card to show next fertile day -->
  <ion-card class="card" *ngIf="sex === 'female'">
    <ion-card-header>
      <ion-card-subtitle>Próximo día fértil</ion-card-subtitle>
      <ion-card-title class="title" *ngIf="periodExists">{{nextFertileDay}}</ion-card-title>
      <ion-card-title class="title" *ngIf="!periodExists">No has registrado tu periodo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button class="button-white" shape="round" [routerLink]="['/calendar']">Ver calendario</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Card to save new notes -->
  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Agregar nota</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="data">
        <ion-item class="input" style="--padding-start: 0;">
          <ion-input placeholder="Título" type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-item class="input" style="--padding-start: 0;">
          <ion-textarea rows="4" placeholder="¿En qué estás pensando?" formControlName="note"></ion-textarea>
        </ion-item>
      </form>
      <ion-button class="button-white" shape="round"(click)="saveNote()">Guardar</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Floating action button to navigate to the chat -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="fab" [routerLink]="['/chat']">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<div class="spinner-container" *ngIf="isLoading">
  <ion-spinner name="bubbles" color="primary" style="height: 80px; width: 80px;"></ion-spinner>
</div>
