<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #000;">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Faltan</ion-card-subtitle>
      <ion-card-title class="title">10 días</ion-card-title>
      <ion-card-subtitle>Para tu próximo periodo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button class="button-white" shape="round" [routerLink]="['/calendar']">Editar periodo</ion-button>
      <ion-img src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/46886.png" class="pet"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Próximo día fértil</ion-card-subtitle>
      <ion-card-title class="title">08 de septiembre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button class="button-white" shape="round" [routerLink]="['/calendar']">Ver calendario</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Agregar nota</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="input" style="--padding-start: 0;">
        <ion-input placeholder="Título" type="text"></ion-input>
      </ion-item>
      <ion-item class="input" style="--padding-start: 0;">
        <ion-textarea rows="4" placeholder="¿En qué estás pensando?"></ion-textarea>
      </ion-item>
      <ion-button class="button-white" shape="round">Guardar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="fab" [routerLink]="['/chat']">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
