.card {
  border-radius: 25px;
  padding: 5px;
}

.button-white {
  --background: #fff;
  --background-hover-opacity: .14;
  --color: #000;
  border-radius: 50px;
  margin: 10px 0;
}

.fab {
  --background: #000;
  border: 1px solid #fff;
  border-radius: 50px;

  & > ion-icon {
    font-size: 30px;
  }
}

.pet {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 120px;
}
