/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.corner-top {
  position: absolute;
  right: 0;
  transform: rotate(180deg);
  z-index: -1;
  width: 150px;
}

.corner-bottom {
  position: fixed;
  bottom: 0;
  z-index: -1;
  width: 150px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.link {
  --color: #000;
  text-decoration: underline;
  padding: 80px 0 20px;
}

.logo {
  width: 120px;
  display: block;
  margin: 10% auto;
  text-align: center;
}

.title {
  font-size: 30px;

  &-dark {
    font-size: 25px;
    color: #000;
    text-align: center;
    padding: 10px;
  }
}

.subtitle {
  font-size: 25px;

  &-dark {
    font-size: 20px;
    color: #000;
    padding: 10px;
  }
}

.card {
  border-radius: 25px;
  padding: 5px;
}

.bg-white {
  background-color: #fff;
}

.fab {
  --background: #000;
  border: 1px solid #fff;
  border-radius: 50px;

  & > ion-icon {
    font-size: 30px;
  }
}

.button {
  --background: #000;
  --background-hover-opacity: .14;
  border-radius: 50px;
}

@media screen and (max-height: 727px) {
  .link {
    padding-top: 5%;
  }
}

@media screen and (max-height: 662px) {
  .logo {
    margin: 0 auto;
  }
}
