/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.corner-top {
  position: fixed;
  right: 0;
  transform: rotate(180deg);
  z-index: -1;
  width: 150px;
}

.corner-bottom {
  position: fixed;
  bottom: 0;
  z-index: -1;
  width: 150px;
}

.main-container {
  height: 100vh;
  padding: 35px 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.center-horizontal {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.center-space-bw {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  --color: #000;
  text-decoration: underline;
}

.logo {
  width: 120px;
  display: block;
  text-align: center;
}

.title {
  font-size: 30px;

  &-dark {
    font-size: 25px;
    color: #000;
    text-align: center;
    padding: 10px;
  }
}

.subtitle {
  font-size: 25px;

  &-dark {
    font-size: 20px;
    color: #000;
    padding: 10px;
  }
}

.big-text {
  font-size: 20px !important;
}

.card {
  border-radius: 25px;
  padding: 5px;
}

.bg-white {
  background-color: #fff;
}

.fab {
  --background: #000;
  border: 1px solid #fff;
  border-radius: 50px;

  & > ion-icon {
    font-size: 30px;
  }
}

.button {
  --background: #000;
  --background-hover-opacity: .14;
  border-radius: 50px;

  &-white {
    --background: #fff;
    --background-hover-opacity: .14;
    --color: #000;
    border-radius: 50px;
    margin: 10px 0;
  }
}

a {
  color: #000;
}

.check {
  --border-radius: 50px;
  --border-color: #000;
  --border-color-checked: #000;
  --checkbox-background: #fff;
  --checkbox-background-checked: #000;
  color: #000;
  padding-top: 10px;

  &-clear {
    --border-radius: 50px;
    --border-color: #fff;
    --border-color-checked: #fff;
    --checkbox-background: #000;
    --checkbox-background-checked: #fff;
    --checkmark-color: #000;
    color: #fff;
  }
}

.accordion {
  color: #ffffff;
  background-color: #000;
}

.flex {
  display: flex;
}

.thumbnail-big {
  --size: 140px;
  --border-radius: 14px;
}
