<ion-header>
  <ion-toolbar>
    <!-- Toolbar buttons -->
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="confirm()" [strong]="true" [disabled]="!isValidForm()">Registrárme</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="data">
    <ion-card class="card" style="padding: 15px;">
      <ion-input placeholder="Nombre completo" type="text" formControlName="fullName" errorText="Nombre inválido" text></ion-input>
      <ion-input placeholder="Correo electrónico" type="email" formControlName="email" errorText="Email inválido" email></ion-input>
      <ion-input placeholder="PIN" type="password" formControlName="pin" errorText="PIN inválido" helperText="Debe contener 4 números (los ceros al inicio no se toman en cuenta)"></ion-input>
      <ion-checkbox labelPlacement="end" class="check-clear" formControlName="noPin" style="margin: 10px 0px;">Continuar sin PIN</ion-checkbox><br>
      <ion-list>
        <ion-item class="select">
          <ion-select formControlName="sex" aria-label="sex" interface="popover" placeholder="Seleccionar sexo">
            <ion-select-option class="check" value="female">Mujer</ion-select-option>
            <ion-select-option value="male">Hombre</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <!-- Form in case the user is a doctor -->
      <ion-accordion-group style="margin-top: 20px;">
        <ion-accordion value="doctor" class="accordion">
          <ion-item slot="header">
            <ion-label class="big-text">Soy un médico</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-checkbox labelPlacement="end" class="check-clear" formControlName="isDoctor">Soy un médico</ion-checkbox><br>
            <ion-input placeholder="Cédula profesional" type="text" formControlName="license" errorText="Texto inválido"></ion-input>
            <ion-input placeholder="Profesion" type="text" formControlName="profession" errorText="Texto inválido"></ion-input>
            <ion-input placeholder="Descripción" type="text" formControlName="description" errorText="Texto inválido"></ion-input>
            <ion-input placeholder="Costo por consulta" type="number" formControlName="cost" errorText="Costo inválido"></ion-input>
            <ion-input placeholder="Ubicación del consultorio" type="text" formControlName="officeAddress" errorText="Texto inválido"></ion-input>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </form>
</ion-content>
